[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
tinydb = "*"
django = "*"

[dev-packages]
black = "*"
pycodestyle = "*"
pylint = "==2.4.4"
mypy = "*"
beautifulsoup4 = "*"
lxml = "*"
coverage = "*"
parameterized = "*"

[pipenv]
allow_prereleases = true
