{% extends 'pathtagger/base.html' %}
{% block head_title %} Tagger - Mapping details: {{ mapping.path }} {% endblock %}
{% block content_title %} MAPPING DETAILS: <div style="text-transform:none;display:inline-block;">{{ mapping.path }}</div> {% endblock %}
{% block content %}
    <div class="left">
        <div class="div-title">PATH</div>
        <form id="EditMappingDetailsForm" method="POST">
            <table class="invisible" style="margin-bottom:20px;">
                <tr>
                    <td class="label">Current path: </td>
                    <td class="input">
                        <input type="text" value="{{ mapping.path }}" disabled/>
                    </td>
                </tr>
                <tr>
                    <td class="label">New path: </td>
                    <td class="input">
                        <input form="EditMappingDetailsForm" type="text" name="path" value="{{ mapping.path }}"/>
                    </td>
                </tr>
            </table>
            <input form="EditMappingDetailsForm" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
            <input form="EditMappingDetailsForm" type="submit" value="Save"/>
        </form>
    </div>
    <div class="left separate-left">
        {% if mapping.tags %}
            <div class="div-title">MAPPING TAGS</div>
            <table style="margin-bottom:20px;">
                <tr>
                    <th>Tag</th>
                </tr>
                {% for mapping_tag in mapping.tags|dictsort:'name' %}
                    <tr>
                        <td>
                            <a class="tag" style="background-color:{{ mapping_tag.color }}" href="{% url 'pathtagger:tag_details' tag_id=mapping_tag.doc_id %}">{{ mapping_tag.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            This mapping has no tags.
        {% endif %}
    </div>
    <div class="right">
        <div class="div-title">DELETE MAPPING</div>
        <form id="MappingDeleteForm" action="{% url 'pathtagger:delete_mappings' %}" method="POST">
            <input form="MappingDeleteForm" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
            <input form="MappingDeleteForm" type="hidden" name="mapping_id" value="{{ mapping.doc_id }}"/>
            <div align="right">
                <input form="MappingDeleteForm" type="submit" value="Delete"/>
            </div>
        </form>
    </div>
{% endblock %}
